body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#FFFFFF
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card-color{
  background-color:#FFFFFF
}
.custom-bg {
  background-color: #fac44b;
  /* background-color: #FFFFFF; */
} 

.text-color {
  color:#25493F;
}

.border-color {
  border-color: #25493F;
}

.custom-bg-text {
  color:#e7fdfd;
}

.bg-color {
  background-color: #25493F;
  /* background-color: #FFFF00; */
}

.rounded-card {
  padding: 1.5em .5em .5em;
  border-radius: 2em;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.form-card {
 
  /* border-radius: 1em; */
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.card {
  transition: transform 0.2s ease;
}

.card:hover .product-card  {
  transform: scale(1.02);
}
.container {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  /* Add any additional styling as needed */
  
  
}
.gd{
  /* background-image: linear-gradient(to right,rgb(255, 255, 255),rgb(240, 240, 222)); */
  /* background-image: linear-gradient(to right,blue,red); */
  width:100%;
  height:100%;
}
.vertical-down {
  margin-top: 100px;
}

