@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script:wght@600&family=Playball&family=Rye&display=swap');

/* .img{
    position: absolute;
    background-image: url(../images/bg_register.jpg);
    height: 130%;
    width: 100%;
    margin-left: 10%;
} */
.card {
    /* margin-left: "35rem";
    width: "35%"; */
    background-color: rgba(255, 255, 255,.2);
}
.card-header{
    background-color: rgba(165, 97, 42, 0.733) ;
    
    /* rgba(168, 38, 38, 0.473)*/
}
.card-title{
    /* position: absolute; */
    margin-left: "25%";
}
/* .form-floating{
    box-shadow: inset;
    box-sizing: content-box;
} */

.i
{
    font-family: 'Rye', cursive;
}
.j{
    /* font-family: 'Playball', cursive; */
    font-family: 'Rye', cursive;
}