.image{
    position: absolute;
    background-image: url(../images/xyz.jpg);
    height: 80%;
    width: 80%;
    margin-left: 10%;
}
.about{
    position: absolute;
    top: 70%;
    left: 38%;
    font-style: italic;
    /* font-family: 'Abril Fatface', cursive; */
    font-family: 'Rubik Puddles', cursive;

    color: aliceblue;
    font-size: 75px;
}
.image .about-content {
    position: absolute;
    top: 127%;
    left: 4%;
    right: 4%;
    font-family: Georgia, serif;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
.image .motive{
    position: absolute;
    top: 146%;
    color: black;
    left:39%;
    font-size: 60px;
}

.motive-content {
    position: absolute;
    top: 164%;
    left: 4%;
    font-family: Georgia, serif;
}

/* .image .founder{
    position: absolute;
    top: 179%;
    color: black;
    left: 36%;
}

.image .f1{
    position: absolute;
    background-image: url(../images/Darshanaf1.jpg);
    top: 201%;
    left: 6%;
    height: 80%;
    width: 40%;
}

.image .f1 h1{
    position: absolute;
    color: black;
    left: 120%;
    top: 33%;
}

.image .f2{
    position: absolute;
    background-image: url(../images/Shivamf2.jpeg);
    top: 285%;
    right: 8%;
    height: 68%;
    width: 35%;
}

.image .f2 h1{
    position: absolute;
    color: black;
    left: -120%;
    top: 35%;
    right: 110%;
}

.image .f3{
    position: absolute;
    background-image: url(../images/Ashif3.jpeg);
    top: 357%;
    left: 6%;
    height: 80%;
    width: 40%;
} */

/* .image .f3 .f31{
    position: absolute;
    color: black;
    left: 128%;
    top: 45%;
} */
/* .image .f3 .f32{
    position: absolute;
    color: black;
    left: 163%;
    top: 45%;
}


.image .f4{
    position: absolute;
    background-image: url(../images/Yashf4.jpeg);
    top: 441%;
    right: 8%;
    height: 80%;
    width: 35%;
} */

/* .image .f4 h1{
    position: absolute;
    color: black;
    left: -127%;
    top: 55%;
    right: 110%;
} */

.Welcome{
    position: absolute;
    top: 106.5%;
    left: 11.5%;
    font-style: italic;
    color: black;
    font-size: 75px;

}

.image .qna{
    position: absolute;
    top: 189%;
    color: black;
    left:25%;
    font-size: 60px;
}

.qna-content {
    position: absolute;
    top: 210%;
    left: 4%;
    font-family: Georgia, serif;
}

.image .services{
    position: absolute;
    top: 235%;
    color: black;
    left:24%;
    font-size: 60px;

}

.services-content {
    position: absolute;
    top: 257%;
    left: 4%;
    font-family: Georgia, serif;
}

.image .joinus{
    position: absolute;
    top: 280%;
    color: black;
    left:43%;
    font-size: 60px;
}

.joinus-content {
    position: absolute;
    top: 299.5%;
    left: 4%;
    font-family: Georgia, serif;
}

.thank {
    position: absolute;
    top: 322%;
    left: 4%;
    font-family: Georgia, serif;
}
.wish{
    position: absolute;
    top: 333%;
    left: 4%;
    font-family: 'Satisfy', cursive;
    font-family: Georgia, serif;
}