*{
    margin: 0%;
    padding: 0%;
    
}
.pay_img{
    position: absolute;
    background-image: url(../images/bg-pay1.jpg);
    height: 92%;
    width: 110%;
    margin-left: -10%;    /* background-repeat: no-repeat ; */
    /* margintop */
}
.card{
    background-color: rgba(255, 255, 255,.2);
}
.pincode-label{
    position: absolute;
    margin-top: -3.7%;
    margin-left: 3.6%;
}
/* .icons-edit{
    position: absolute;
    margin-top: -4%;
    margin-right: 2%;
} */

.form-label h6{
    position: absolute;
    margin-top: -6%;
}