.search-container {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    margin-left:15px;
  }
  
  .container {
    padding-top: -45px;
    width: 60px;
  }
  
  .search-results {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0; 
    flex-grow: 0;
    justify-content: center;
    padding: 0;
    margin-top: 3%;
    height:70%;
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .search-result-item {
    flex-basis: 33.33%;
    text-decoration: none;
    color: inherit;
  }
  
  .search-result-item-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
  }

  .footer-btn {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
  }
  
  .back-btn {
    width: 500px; 
    height: 50px; 
    background-color: white;
  }